    .box {
        margin-top: 30px;
        margin-bottom: 60px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 320px;
        height: 100px;
        border: hidden;
        align-items: center;
    }
    
    .abajo ion-segement {
        margin-top: 7%;
    }
    
    .boton {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }