<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/opcionesvias" routerDirection="forward">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Estado de las vías
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button disabled>
                <ion-icon slot="icon-only" name=""> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>