    h4,
    h6,
    ion-label {
        font-style: oblique;
    }
    
    .box {
        margin-top: 30px;
        margin-bottom: 30px;
        // margin-right: auto;
        // margin-left: auto;
        text-align: center;
        // width: 320px;
        // height: 100px;
        border: hidden;
        align-items: center;
    }
    
    .box2 {
        // width: 320px;
        // height: 420px;
        // margin-right: auto;
        // margin-left: auto;
        margin-bottom: 30px;
        text-align: center;
        border: hidden;
    }
    
    .box3 {
        // width: 320px;
        // height: 420px;
        // margin-right: auto;
        // margin-left: auto;
        margin-bottom: 30px;
        text-align: center;
        border: hidden;
    }
    
    .boton {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 3%;
    }
    
    .boton2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .photo {
        margin-bottom: 20px;
    }
    
    .abajo ion-segement {
        margin-top: 7%;
    }