ion-header {
    --ion-background-color: #008abb!important;
}

ion-content {
    --ion-background-color: #008abb!important;
}

ion-img {
    width: 105%;
    height: 105px;
}

ion-label {
    margin: 20px;
    color: #ffffff!important;
}

ion-input {
    margin: 10px;
    border-radius: 3px;
    border: 3px;
}
.bsubir {
    margin-left: 10px;
    --background: #ffffff!important;
    color: #7ecbc8!important;
}
.bcamara {
    margin-left: 40px;
    --background: #ffffff!important;
    color: #7ecbc8!important;
}
.bconfirmar {
    margin-left: 110px;
    --background: #ffffff!important;
    color: #7ecbc8!important;
}
.back{
    margin: 20px;
    color: #ffffff!important;
}