<ion-header>
  <ion-toolbar>
    <ion-title> Información Predial Básica </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      button
      *ngFor="let i of buttonContainer"
      (click)="showDetail(i.rLink)"
    >
      <ion-icon slot="start" [name]="i.iconStart" color="light"></ion-icon>
      <ion-icon slot="end" [name]="i.icon" [color]="i.colori"></ion-icon>
      <ion-label color="light">
        {{ i.nombreMenu }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item lines="none" class="ion-padding-top">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-end">
          <ion-button
            class="ion-text-capitalize"
            type="submit"
            color="light"
            size="default"
            shape="round"
            expand="block"
            [disabled]="disabled"
            (click)="Grabar()"
          >
            <ion-label>Aceptar</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button
            class="ion-text-capitalize"
            color="light"
            fill="outline"
            size="default"
            shape="round"
            expand="block"
            (click)="Cancelar()"
          >
            <ion-label>Cancelar </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
