<ion-header>
</ion-header>

<ion-content>
    <br>
    <ion-title class="welcome">Bienvenido <br> Administrador</ion-title>
    <br>
    <ion-img class="iadmin" src="assets/bienvenido_admin.svg"></ion-img>
    <br><br>
    <p> Por favor da click en el botón, <br> según la acción que deseas realizar </p>
    <ion-button class="bhabitantes"><b>información ingresada por habitantes</b></ion-button>
    <br><br>
    <ion-button class="bagregar"><b>Agregar Información</b></ion-button>
    <div>
        <ion-img class="ikey" src="assets/cambiar_clave.svg"></ion-img>
        <ion-label class="lclave"><u>Cambiar contraseña</u></ion-label>
    </div>
</ion-content>