ion-header {
    --ion-background-color: #008abb!important;
}

ion-content {
    --ion-background-color: #008abb!important;
}

.iadmin {
    width: 100%;
    height: 100px;
}

.welcome {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
}

p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

.bhabitantes {
    font-size: 11px;
    margin-left: 35px;
    --background: #ffffff!important;
    color: #7ecbc8!important;
}

.bagregar {
    border-radius: 71px 71px 71px 71px!important;
    margin-left: 80px;
    --background: #ffffff!important;
    color: #7ecbc8!important;
}

.ikey {
    width: 20%;
    height: 20px;
}

.lclave {
    color: #ffffff!important;
}