ion-header {
    --ion-background-color: #7ecbc8!important;
}
ion-title{
    text-align: center;
    color: #ffffff!important;
    font-size: 21px;
}
ion-footer{
    --ion-background-color: #008abb!important;
}
ion-card-subtitle{
    text-align: center;
    color: #ffffff!important;
    font-size: 15px;
}
.back{
    margin: 10px;
    color: #ffffff!important;
}