<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Resumen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let data of registro">
    <!-- <div style="text-align: center;">
      <img src="assets/img_jyd/logo resumen.svg" width="160px" height="80px" alt="">
    </div> -->
    <div style="padding-left: 17%; padding-right: 17%; padding-top: 2%;">
      <img [src]="data.imagen" class="img_resumen" width="350px" height="390px" alt="">
    </div>
    <div style="padding-left: 8%; padding-right: 8%; padding-top: 2%;">
      <div class="div_datos">                   
        <ion-label *ngFor="let item of items"><b>ITEM REG.</b> {{item.nombre}}</ion-label><br>
        <ion-label *ngFor="let item of items"><b>CATEGORIA.</b> {{item.descripcion}}</ion-label><br>
        <ion-label><b>ESTADO.</b> {{ (data.estadoItem == 1) ? 'Nuevo' : 'Mal Estado' }}</ion-label><br>
        <ion-label><b>LATITUD.</b> {{data.ubicacion.lat}}</ion-label><br>
        <ion-label><b>LONGITUD.</b> {{data.ubicacion.lng}}</ion-label><br>
        <ion-label style="text-align: justify;"><b>DESCRIPCIÓN.</b> {{data.descripcion}}</ion-label>                  
      </div>
    </div>
    <section style="text-align: center; padding-top: 2%;">        
      <ion-button routerLink="/" color="white" size="medium" style="background-color: white; color: #0A9D97; border-radius: 5px 5px 5px 5px;"><b>Finalizar</b></ion-button>
    </section>
  </div>
</ion-content>
