<ion-header>
  <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
    <ion-buttons slot="start">
      <ion-button routerLink="/list" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
       
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button disabled>
        <ion-icon slot="icon-only" name=""> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="padding: 0%;">
        <img src="assets/cv-salud/inicio2_encabezado.PNG" height="100vh">
      </div>    
  <div style="border: 0px solid; margin-top: 10%;">
      <ion-card routerLink="/tab2" style="background-color: rgb(255, 255, 255); padding-top: 0%; height: 140px;">
        <div style="padding: 0%;">
          <img src="assets/cv-salud/inicio2_estado2.PNG" height="140vh">
        </div>        
      </ion-card>   
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div style="padding: 0%;">
      <img src="assets/cv-salud/inicio_finish.PNG" height="50vh">
    </div>  
</ion-content>
