<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img class="img" src="./assets/perfil mujer.svg" slot="start"></ion-img>
        <ion-title>
            Fulano de tal
        </ion-title>
        <ion-img class="img" src="./assets/configuracion.svg" slot="end"></ion-img>

    </ion-toolbar>
    <!-- <ion-toolbar color="secondary" class="menu"> -->
    <span class="menu" color="secondary"></span>
    <!-- </ion-toolbar> -->
    <ion-toolbar class="title">
        <ion-title color="primary">
            Servicios Públicos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <!-- <ion-img class="imgbody" src="./assets/fondo predia.svg"></ion-img> -->
        <ion-list class="fondo_predial">
            <ion-item class="ssptop">
                <ion-label>Agua</ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="dark" slot="start"></ion-checkbox>
                <ion-label>Luz</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="secondary" slot="start"></ion-checkbox>
                <ion-label>Gas Natural</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="danger" slot="start"></ion-checkbox>
                <ion-label>Telefonía Movil</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Telefonia Fija</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="medium" slot="start"></ion-checkbox>
                <ion-label>Internet</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Alcantarillado</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="dark" slot="start"></ion-checkbox>
                <ion-label>Gas propano</ion-label>
            </ion-item>
            <br/>
            <ion-item>
                <ion-label>Uso Predial</ion-label>
                <ion-select interface="popover">
                    <span *ngFor='let i of usopredial'>
                    <ion-select-option value="{{i.id_predio}}">{{i.descripcion}}</ion-select-option>
                </span>
                </ion-select>
            </ion-item>
            <br/>
            <ion-item>
                <ion-label>Nivel de Vivienda</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="nes">NES</ion-select-option>
                    <ion-select-option value="n64">Nintendo64</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary" class="title">
        <ion-img class="imgfooter" src="./assets/news.svg" slot="start"></ion-img>
        <ion-img class="imgfooter" src="./assets/nueva incidencia.svg"></ion-img>
        <ion-img class="imgfooter" src="./assets/campana de notificacion.svg" slot="end"></ion-img>
    </ion-toolbar>
</ion-footer>