.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.menu {
    height: 10%;
    width: 100%;
}

.title {
    text-align: center;
}

.img {
    height: 35px;
    width: 35px;
    margin-right: 5%
}

.imgbody {
    height: auto;
    width: 100%;
    position: absolute;
}

.imgfooter {
    height: 35px;
    width: 35px;
    margin-right: 20px;
    margin-left: 20px;
}

.fondo {
    //position: relative;    
    display: inline-block;
    text-align: center;
}

.fondo_predial {
    //position: relative;
    width: 414px;
    height: 604px;
    background-color: #2C689F;
    display: inline-block;
    text-align: center;
}

.ssptop {
    margin-top: 10%;
    width: 325px;
    margin-left: 12%;
}

.ssp {
    /*margin-top: 35%;*/
    width: 325px;
    margin-left: 12%;
}