<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/ibpredial-inicio" routerDirection="forward">
          <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title> Servicios del predio </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="fondo">
        <!-- <ion-img class="imgbody" src="./assets/fondo predia.svg"></ion-img> -->
        <ion-list class="fondo_predial">
            <ion-item class="ssptop">
                <ion-label>Agua</ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="dark" slot="start"></ion-checkbox>
                <ion-label>Luz</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="secondary" slot="start"></ion-checkbox>
                <ion-label>Gas Natural</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="danger" slot="start"></ion-checkbox>
                <ion-label>Telefonía Movil</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Telefonia Fija</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="medium" slot="start"></ion-checkbox>
                <ion-label>Internet</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Alcantarillado</ion-label>
            </ion-item>
            <ion-item class="ssp">
                <ion-checkbox color="dark" slot="start"></ion-checkbox>
                <ion-label>Gas propano</ion-label>
            </ion-item>
            <br/>
            <!-- <ion-item>
                <ion-label>Uso Predial</ion-label>
                <ion-select interface="popover">
                    <span *ngFor='let i of usopredial'>
                    <ion-select-option value="{{i.id_predio}}">{{i.descripcion}}</ion-select-option>
                </span>
                </ion-select>
            </ion-item>
            <br/>
            <ion-item>
                <ion-label>Nivel de Vivienda</ion-label>
                <ion-select interface="popover">
                    <span *ngFor='let i of usonivel'>
                        <ion-select-option value="{{i.id_nivel}}">{{i.descripcion}}</ion-select-option>                    
                    </span>
                </ion-select>
            </ion-item> -->
        </ion-list>
    </div>
</ion-content>
