
img{
    margin-top: 0px;
  margin-left: 50px;
    width: 250px; height: 150px;
}

.ion-title {
    color: white;
}
ion-icon{
    float: left
}

t

ion-card{
    margin-top: 30px;
    
}

ion-item{
    margin: 20px; 
    height: 35px;
    border-radius: 7px;
    text-align: justify;
}


button { 
    height: 35px;
    width: 100px;
    margin:5px;
    margin-top: 30px; 
 text-align: center; 
  margin-left: 50px;
    color: #0A9D97;
    background-color: white;
    border-radius: 7px;
 font-size: 20px;
 border-color: #0A9D97;
   float:none ;
}





button:hover{
    background-color: rgb(129, 230, 226); 
}
.botonins{
    text-align: center;
    height: 100px;
    
}

.atrasins{
    
width: 200px;
text-align: justify;
}

ion-back-button:hover{
    background-color: rgb(129, 230, 226); 
    border-radius: 30px;
   
}