<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/']"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-title">Datos basicos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="padding">
    <ion-card>
        <ion-item>
            <ion-input type="number" name="txtDocumento" placeholder="Documento" [(ngModel)]="inscripcion.documento" (ionBlur)="getInscripcion();"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" name="txtNombre" placeholder="Nombre" [(ngModel)]="inscripcion.nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" name="txtDireccion" placeholder="Direccion" [(ngModel)]="inscripcion.direccion"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" name="txtDepartamento" placeholder="Departamento" [(ngModel)]="inscripcion.departamento"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" name="txtMunicipio" placeholder="Municipio" [(ngModel)]="inscripcion.municipio"></ion-input>
        </ion-item>
        <ion-button class="btn btn-success btn-block" [routerLink]="['/ubicacion/',posicion]" routerDirection="forward" (click)="saveInscripcion();">Ingresar ubicacion en mapa</ion-button>
    </ion-card>
</ion-content>
<ion-footer>

    <ion-toolbar color="primary" class="title">
    </ion-toolbar>
</ion-footer>