<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/']"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-title">Datos basicos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="padding">
    <ion-card>
        <ion-item>
            <ion-label color="secondary">Documento</ion-label>
            <ion-input #txtDocumento type="number" [(ngModel)]="documento" (ionBlur)="getInscripcion(txtDocumento.value);"></ion-input>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label color="secondary">Nombre</ion-label>
            <ion-input *ngIf="isValid; then templateNombre"></ion-input>
            <ng-template #templateNombre>{{inscripcion.nombre}}</ng-template>

        </ion-item>

        <ion-item>
            <ion-label color="secondary">Direccion</ion-label>
            <ion-input *ngIf="isValid; then templateDireccion"></ion-input>
            <ng-template #templateDireccion>{{inscripcion.direccion}}</ng-template>
        </ion-item>
    </ion-card>
    <ion-button routerLink="/ubicacion/11" routerDirection="forward">Siguiente</ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar color="primary" class="title">

    </ion-toolbar>
</ion-footer>