<ion-header>
  <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
      <ion-buttons slot="start">
          <ion-button routerLink="/tipocomercio" routerDirection="forward">
              <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
        SELECCIONA EL PUNTO DE COMERCIO
      </ion-title>
      <ion-buttons slot="secondary">
          <ion-button disabled>
              <ion-icon slot="icon-only" name=""> </ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: white; height: 90%;">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]='16'>
          <agm-marker [latitude]="lat" [longitude]="lng" width="50%">

          </agm-marker>

      </agm-map>
  </div>
  <div style="background-color: #2C689F; position: fixed-bottom; height: 10%; text-align: center; padding-top: 2%;">
      <section>
          <ion-button [routerLink]="['/comercioinformal']"  color="white" size="medium" style="background-color: white; color: #2C689F; border-radius: 5px 5px 5px 5px;"><b>SELECCIONAR</b></ion-button>
      </section>
  </div>
</ion-content>
