<ion-header>
    <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
        <ion-buttons slot="start">
            <ion-button routerLink="/instruccion" routerDirection="forward">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Registrar Predio
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button disabled>
                <ion-icon slot="icon-only" name=""> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab *ngIf="polygon" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="cerrarPoligono()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab *ngIf="polygon" vertical="bottom" horizontal="endStart" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [streetViewControl]="false" [zoom]='16' [zoomControl]="false" [usePanning]="true">
        <agm-marker *ngFor="let marcador of marcadores " [latitude]="marcador.lat" [longitude]="marcador.lng" width="50%">
        </agm-marker>
        <agm-polygon *ngIf="polygon" [paths]="poligonoPrincipal">

        </agm-polygon>
    </agm-map>
</ion-content>