<ion-header>
    <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
      <ion-buttons slot="start">
        <ion-button routerLink="/instruccion" routerDirection="forward">
          <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Registrar Predio
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button disabled>
          <ion-icon slot="icon-only" name=""> </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]='16'>
        <agm-marker [latitude]="lat" [longitude]="lng" width="50%">

        </agm-marker>

    </agm-map>

</ion-content>