agm-map {
    height: 100%;
}

.contenedorconvenciones {
    width: 150px;
    height: 300PX;
    padding: 20px;
    float: left;
    position: absolute;
}

.tipoarea {
    border: solid black 1px;
    width: 60px;
    height: 10px;
    background-color: red;
}