<ion-header>
</ion-header>

<ion-content>
    <br><br><br>
    <ion-img src="assets/logo_cambiar_clave.svg"></ion-img>
    <br><br>
    <ion-label><b>Contraseña Actual</b></ion-label>
    <ion-input type="password" placeholder="Ingrese su contraseña actual"></ion-input>
    <br>
    <ion-label><b>Contraseña Nueva</b></ion-label>
        <ion-input type="password" placeholder="Ingrese una nueva contraseña"></ion-input>
    <br>
    <ion-label><b>Confirmar Contraseña</b></ion-label>
    <ion-input type="password" placeholder="confirme la nueva contraseña"></ion-input>
    <br><br><br>
    <ion-button class="bconfirmar"><b>Confirmar</b></ion-button>
    <br><br><br><br>
    <ion-label class="back "><b>◄ Volver</b></ion-label>
</ion-content>