ion-header {
    --ion-background-color: #008abb!important;
}

ion-content {
    --ion-background-color: #008abb!important;
}

ion-img {
    width: 105%;
    height: 105px;
}

ion-label {
    margin: 100px;
    color: #ffffff!important;
    text-align: center;
}

ion-input {
    text-align: center;
}
.bconfirmar {
    border-radius: 71px 71px 71px 71px!important;
    margin-left: 115px;
    --background: #ffffff!important;
    color: #7ecbc8!important;
}
.back{
    margin: 20px;
    color: #ffffff!important;
}
