<ion-header>
    <ion-toolbar>
        <ion-title> Redes Secas </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="button-container" *ngFor="let t of tiposRedes">
        <ion-button class="ion-text-capitalize" color="light" expand="block" size="large" shape="round" [routerLink]="'/irs-inventario-postes/' + t.nombre" routerDirection="root">
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <ion-img [src]="'/assets/' + t.icono" class="img-icon"></ion-img>
                    </ion-col>
                    <ion-col size="9" class="ion-text-start">
                        {{ t.nombre }}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-button>
    </div>
</ion-content>