<ion-header>
    <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
        <ion-title>
            ENCUESTA COMERCIO INFORMAL
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-img src="assets/LOGO VERDE.svg"></ion-img>
    <br>

    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <ion-label> Venden productos o servicios</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Productos</ion-label>
                <ion-radio slot="start" value="biff" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Servicios</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Ambos</ion-label>
                <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <br><br>
    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <ion-label> El negocio es:</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Estatico</ion-label>
                <ion-radio slot="start" value="biff" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Ambulante</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

        </ion-radio-group>
    </ion-list>
    <br><br>

    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <ion-label> Frecuencia con que ve al vendedor</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Entre semana</ion-label>
                <ion-radio slot="start" value="biff" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Fin de semana</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <ion-label>Horarios de apertura</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Diurno</ion-label>
                <ion-radio slot="start" value="biff" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Nocturno</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Diurno y Nocturno</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <br><br><br><br>
    <ion-button class="register " type="submit "><b>Enviar</b></ion-button>
</ion-content>