<ion-content>
    <br>
    <ion-img src="assets/logo_encuesta_comercio_informal.JPG"></ion-img>
    <div id="general1">
        <h1 id="h1">¿Venden productos o servicios?</h1>
        <br>
        <div id="div1A">
            <ion-radio class="botones" slot="start" value="biff"></ion-radio>
            <ion-label>Productos</ion-label>
        </div>

        <div id="div1B">
            <ion-radio class="botones" slot="start" value="griff"></ion-radio>
            <ion-label>Servicios</ion-label>
        </div>

        <div id="div1C">
            <ion-radio class="botones" slot="start" value="buford"></ion-radio>
            <ion-label>Ambos</ion-label>
        </div>
    </div>
    <br><br>
    <div id="general2">
        <h1 id="h2">El negocio es:</h1>
        <br>
        <div id="div2A">
            <ion-radio class="botones" slot="start" value="biff"></ion-radio>
            <ion-label>Estático</ion-label>
        </div>

        <div id="div2B">
            <ion-radio class="botones" slot="start" value="griff"></ion-radio>
            <ion-label>Ambulante</ion-label>
        </div>
    </div>
    <br><br>
    <div id="general3">
        <h1 id="h3">¿Con qué frecuencia ve al vendedor?</h1>
        <br>
        <div id="div3A">
            <ion-radio class="botones" slot="start" value="biff"></ion-radio>
            <ion-label>Entre semana</ion-label>
        </div>

        <div id="div3B">
            <ion-radio class="botones" slot="start" value="griff"></ion-radio>
            <ion-label>Fin de semana</ion-label>
        </div>

        <div id="div3C">
            <ion-radio class="botones" slot="start" value="buford"></ion-radio>
            <ion-label>Ambos</ion-label>
        </div>
    </div>
    <br><br>
    <div id="general4">
        <h1 id="h4">Horario de atención</h1>
        <br>
        <div id="div4A">
            <ion-radio class="botones" slot="start" value="biff"></ion-radio>
            <ion-label>Diurno</ion-label>
        </div>

        <div id="div4B">
            <ion-radio class="botones" slot="start" value="griff"></ion-radio>
            <ion-label>Nocturno</ion-label>
        </div>

        <div id="div4C">
            <ion-radio class="botones" slot="start" value="buford"></ion-radio>
            <ion-label>Ambos</ion-label>
        </div>
    </div>
    <ion-button class="foto"  (click)="hacerFoto()">Usar Camara </ion-button>
<img [src]="foto" *ngIf="foto" />
<br><br>
    <ion-button type="submit " (click)="presentAlert()"><b>Enviar</b></ion-button>
</ion-content>