<ion-content>
    <ion-img class="ion-padding" src="assets/logo_encuesta_comercio_informal.JPG"></ion-img>
    <ion-text color="light" class="ion-text-center ion-margin-top">
        <h5>¿Venden productos o servicios?</h5>
    </ion-text>
    <ion-radio-group [(ngModel)]="servicios">
        <ion-row>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-radio color="light" value="A"></ion-radio>
                    <ion-label class="label-radio">Productos</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-radio color="light" value="B"></ion-radio>
                    <ion-label class="label-radio">Servicios</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-radio color="light"  value="C"></ion-radio>
                    <ion-label class="label-radio">Ambos</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-radio-group>
    <ion-text color="light" class="ion-text-center ion-margin-top">
        <h5>El negocio es: </h5>
    </ion-text>
    <ion-radio-group [(ngModel)]="negocio">
        <ion-row align-items-center>
            <ion-col offset="2" size="4">
                <ion-item lines="none">
                    <ion-radio color="light" value="A"></ion-radio>
                    <ion-label class="label-radio">Estático</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-radio color="light" value="B"></ion-radio>
                    <ion-label class="label-radio">Ambulante</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-radio-group>
    <ion-text color="light" class="ion-text-center ion-margin-top">
        <h5>¿Con qué frecuencia ve al vendedor?</h5>
    </ion-text>
    <ion-radio-group [(ngModel)]="frecuencia">
        <ion-row>
            <ion-col size="6">
                <ion-item lines="none">
                    <ion-radio color="light" value="A"></ion-radio>
                    <ion-label class="label-radio">Entre semana</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item lines="none">
                    <ion-radio color="light" value="B"></ion-radio>
                    <ion-label class="label-radio">Fin de semana</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item lines="none">
                    <ion-radio color="light"  value="C"></ion-radio>
                    <ion-label class="label-radio">Ambos</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-radio-group>
    <ion-text color="light" class="ion-text-center ion-margin-top">
        <h5>Horario de atención</h5>
    </ion-text>
    <ion-radio-group [(ngModel)]="horarios">
        <ion-row>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-radio color="light" value="A"></ion-radio>
                    <ion-label class="label-radio">Diurno</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-radio color="light" value="B"></ion-radio>
                    <ion-label class="label-radio">Nocturno</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item lines="none">
                    <ion-radio color="light"  value="C"></ion-radio>
                    <ion-label class="label-radio">Ambos</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-radio-group>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <img class="ion-padding" [src]="foto" *ngIf="foto" />
                <ion-button color="light" (click)="hacerFoto()">Usar Cámara</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-button color="light" (click)="presentAlert()"><b>Enviar</b></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>