<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Información predial básica </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="validarForm" (ngSubmit)="getDataFromNodeJsId()">
    <ion-item>
      <ion-label position="stacked" color="light"
        >Número de matrícula del predio<ion-text color="light">*</ion-text>
      </ion-label>
      <ion-input
        formControlName="matricula"
        type="text"
        color="light"
      ></ion-input>
    </ion-item>
    <div class="validationError">
      <ng-container
        *ngIf="
          (validarForm.get('matricula').hasError('minlength') ||
            validarForm.get('matricula').hasError('required')) &&
          (validarForm.get('matricula').dirty ||
            validarForm.get('matricula').touched)
        "
      >
        <ion-label>Minimo 3 caractres en matrícula</ion-label>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="stacked" color="light">{{ direccion }} </ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-padding-top">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-text-end">
            <ion-button
              class="ion-text-capitalize"
              type="submit"
              color="light"
              size="default"
              shape="round"
              expand="block"
              [disabled]="validarForm.invalid"
            >
              <ion-label>Aceptar</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-button
              class="ion-text-capitalize"
              color="light"
              fill="outline"
              size="default"
              shape="round"
              expand="block"
              (click)="Cancelar()"
              [disabled]="loading"
            >
              <ion-label>Cancelar </ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
