<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/list" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Información predial básica </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked" color="light"
      >Número de matrícula del predio<ion-text color="light">*</ion-text>
    </ion-label>
    <ion-input
      required
      type="text"
      oninput="handleFirstNameValue(event)"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="light"
      >Dirección del predio <ion-text color="light">*</ion-text>
    </ion-label>
    <ion-input
      required
      type="text"
      oninput="handleLastNameValue(event)"
    ></ion-input>
  </ion-item>

  <ion-button
    class="ion-text-capitalize"
    color="primary"
    size="default"
    shape="round"
    expand="block"
    (click)="Aceptar()"
    [disabled]="btnState"
  >
    <ion-label>Guardar</ion-label>
  </ion-button>
  <ion-button
    class="ion-text-capitalize"
    color="danger"
    size="default"
    shape="round"
    expand="block"
    (click)="Cancelar()"
    [disabled]="loading"
  >
    <ion-label>Cancelar</ion-label>
  </ion-button>
  <ion-button
    class="ion-text-capitalize"
    color="danger"
    size="default"
    shape="round"
    expand="block"
    (click)="getDataFromNodeJs()"
  >
    Obtener data from NodeJs
  </ion-button>
  <ion-button
    class="ion-text-capitalize"
    color="danger"
    size="default"
    shape="round"
    expand="block"
    (click)="getDataFromNodeJsId()"
  >
    Obtener data from NodeJs by Id
  </ion-button>
</ion-content>
