<ion-content>
    <ion-item slot="start">
        <ion-title class="map" color="primary">Mapa</ion-title>
    </ion-item>

    <ion-card class="welcome-card">
        <ion-card-content>
            <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]='16'>
                <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat" [longitude]="marcador.lng" iconUrl="assets/location.png" width="20%">
                    <agm-info-window>
                        <strong>{{marcador.title}}</strong>
                        <p>{{marcador.description}}</p>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </ion-card-content>
    </ion-card>
    <ion-buttons>
        <button slot="end" (click)="closeModal()">Cerrar</button>
    </ion-buttons>
</ion-content>

<ion-footer>
    <ion-toolbar color="secondary" class="title">

    </ion-toolbar>
</ion-footer>