<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/inscripcion']"></ion-back-button>
        </ion-buttons>
        <ion-title padding class="ion-title">Elejir ubicación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  >
        <ion-title class="map" color="primary"> Mapa</ion-title>
    <ion-card class="welcome-card">
       
        <ion-card-content>
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]='16'>
                <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng" iconUrl="assets/location.png" width="20%">
                    <agm-info-window>
                        <strong>{{marcador.title}}</strong>
                        <p>{{marcador.description}}</p>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </ion-card-content>
        
    </ion-card>
</ion-content>



<ion-footer>
    <ion-toolbar color="secondary" class="title">

    </ion-toolbar>
</ion-footer>