ion-content {
    // --background: url(../../../assets/img_jyd/fondo resumen.svg) no-repeat center center / cover;
    // --ion-background-color: #0A9D97;
}

.img_resumen {
    border: 1.5px solid #008abb;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 2px 4px 9px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 9px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 9px -4px rgba(0, 0, 0, 0.75);
}

.div_datos {
    background-color: white;
    border: 1.5px solid #008abb;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 2px 4px 9px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 9px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 9px -4px rgba(0, 0, 0, 0.75);
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

ion-footer {
    background-color: var(--ion-color-primary);
    text-align-last: center;
}

ion-footer>ion-button {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-secondary);
    --border-radius: 3vw;
    margin: 2vh;
}