ion-content {
    --ion-background-color: #2C689F;
}

.imagen {
    vertical-align: middle;
    height: 100%;
    padding-top: 170px;
}

img {
    display: block !important;
    margin: auto;
    height: 211px;
    width: 211px;
}

h3 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}