ion-content {
    --ion-background-color: #2C689F;
}

.lista {
    // background: rgba(255, 255, 255, 0.5);  
    padding-left: 18%;
    padding-right: 18%;
    --ion-background-color: #2C689F;
}

.radio {
    --color: white;
    --color-checked: yellow;
}