<ion-header>
  <ion-toolbar>
      <ion-title>
          
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-app>
      <ion-header>
        <ion-toolbar>
              <ion-list-header>
                      <br><br>
                  </ion-list-header>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen>
          <ion-list-header>
              <br><h1><b>Mi Perfil</b></h1><br>
          </ion-list-header>
        <ion-list>
          <ion-list-header>
            <h1><b>Mis Registros</b></h1><br><br><br><br><br>
          </ion-list-header>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/cv-salud/hospital.jpg">
            </ion-avatar>
            <ion-label>
              <h2><b>Hospital</b></h2>
              <h3>Nueva Marsella</h3>
              <p>15 days ago</p>
            </ion-label>
            <ion-button>Aprobado</ion-button>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/cv-salud/eps.png">
            </ion-avatar>
            <ion-label>
              <h2><b>EPS</b></h2>
              <h3>Hoden</h3>
              <p>8 days ago</p>
            </ion-label>
            <ion-button>Rechazado</ion-button>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/cv-salud/eps.png">
            </ion-avatar>
            <ion-label>
              <h2><b>EPS</b></h2>
              <h3>Famisanar Choachi</h3>
              <p>5 hours ago</p>
            </ion-label>
            <ion-button>Pendiente</ion-button>
          </ion-item>
        </ion-list><br>
          <section style="text-align: center;">
              <ion-card routerLink="/tab5">
                <ion-button>Regresar</ion-button>
              </ion-card>
            </section>
      </ion-content>
</ion-app>

