<ion-header>
    <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
        <ion-title>
            ENCUESTA COMERCIO FORMAL
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class="img1" src="assets/logo_encuesta_comercio_formal.JPG"></ion-img>
    <h1 id="h1">Ingrese el nombre del establecimiento:</h1>
    <ion-input class="box1" placeholder=""></ion-input>
    <div id="general1">
        <h1 id="h2">¿Venden productos o servicios?</h1>
        <br>
        <div id="div1">
            <ion-radio class="botones" slot="start" value="biff"></ion-radio>
            <ion-label>Productos</ion-label>
        </div>

        <div id="div2">
            <ion-radio class="botones" slot="start" value="griff"></ion-radio>
            <ion-label>Servicios</ion-label>
        </div>

        <div id="div3">
            <ion-radio class="botones" slot="start" value="buford"></ion-radio>
            <ion-label>Ambos</ion-label>
        </div>
    </div>
    <br><br>
    <ion-input class="box2" placeholder="¿Cuales?"></ion-input>

    <div id="general2">
        <h1 id="h2">¿Cuantos empleados tiene?</h1>
        <br>
        <div id="div1">
            <ion-radio class="botones" slot="start" value="biff"></ion-radio>
            <ion-label>1</ion-label>
        </div>

        <div id="div2">
            <ion-radio class="botones" slot="start" value="griff"></ion-radio>
            <ion-label>2</ion-label>
        </div>

        <div id="div3">
            <ion-radio class="botones" slot="start" value="buford"></ion-radio>
            <ion-label>3</ion-label>
        </div>
        <div id="div4">
            <ion-radio class="botones" slot="start" value="buford"></ion-radio>
            <ion-label>Más de 3</ion-label>
        </div>
    </div>
    <ion-img src="assets/camaratumap.png"></ion-img>
    <ion-button type="submit "><b>Enviar</b></ion-button>
</ion-content>