ion-header {
    --ion-background-color: #7ecbc8!important;
}
ion-title{
    text-align: center;
    color: #ffffff!important;
    font-size: 25px;
}
ion-footer{
    --ion-background-color: #008abb!important;
}
.back{
    margin: 20px;
    color: #ffffff!important;
}
.rectanguloi {
    margin: 32px;
    width: 300px; 
    height: 150px; 
    border: 3px solid #555;
}
ion-label {
    margin: 20px;
    color: #7ecbc8!important;
}

ion-input {
    margin: 10px;
    border-radius: 3px;
    border: 3px;
}