<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/options">Atrás</ion-back-button>
        </ion-buttons>
        <ion-title>Sin Cobertura</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--  <h5>Sin Cobertura</h5> -->
    <ion-list class="te">
        <ion-radio-group>

            <ion-item>
                <ion-label>Suspensión</ion-label>
                <ion-radio slot="start" value="suspension" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Corte</ion-label>
                <ion-radio slot="start" value="corte"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Nunca Ha Tenido El Servicio</ion-label>
                <ion-radio slot="start" value="nuncaserv"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <div class="boton">
        <ion-button name="regresar" [routerLink]="['/hidrica']"> Regresar</ion-button>
        <ion-button name="guardar"> Guardar</ion-button>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary" class="title">
    </ion-toolbar>
</ion-footer>