<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/options"></ion-back-button>
        </ion-buttons>
        <ion-title>Sin Cobertura</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="te">
        <ion-radio-group>

            <ion-item>
                <ion-label>Suspensión</ion-label>
                <ion-radio [(ngModel)]="suspension" slot="start" value="Suspensión" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Corte</ion-label>
                <ion-radio [(ngModel)]="corte" slot="start" value="Corte"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Nunca Ha Tenido El Servicio</ion-label>
                <ion-radio [(ngModel)]="sinServicio" slot="start" value="Nunca he tenido el servicio"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <div class="boton">
        <ion-button name="regresar" [routerLink]="['/hidrica']"> Regresar</ion-button>
        <ion-button name="guardar" (click)='saveSinCovertura()'> Guardar</ion-button>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary" class="title">
    </ion-toolbar>
</ion-footer>