<ion-header>
  <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
    <ion-buttons slot="start">
      <ion-button routerLink="/categorias" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button disabled>
        <ion-icon slot="icon-only" name=""> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding-top: 12%;">
    <img src="assets/img_jyd/logo registro.svg" height="80px" alt=""><br><br><br>
    <ion-title style="font-size: 130%; color: white;"><b>¿Qué desea registrar?</b></ion-title><br>
    <div class="lista">
      <ion-list>
          <ion-radio-group>
            <ion-item>
              <ion-label style="color: white;"><b>Nuevo</b></ion-label>
              <ion-radio class="radio" slot="start" value="nuevo" checked></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label style="color: white;"><b>Mal Estado</b></ion-label>
              <ion-radio class="radio" slot="start" value="mal_estado"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
    </div><br><br>
    <div style="padding-left: 18%; padding-right: 18%;">
      <div style="text-align: left;">
        <ion-label style="color: white;"><b>Descripción:</b></ion-label>
      </div><br>        
      <ion-item style="border-radius:  5px 5px 5px 5px;">
        <!-- <ion-label position="stacked">Descripción</ion-label> -->
        <ion-textarea></ion-textarea>
      </ion-item>
    </div><br>
    <section>        
      <ion-button routerLink="/mapa-item" color="white" size="medium" style="background-color: white; color: #0A9D97; border-radius: 5px 5px 5px 5px;"><b>Continuar</b></ion-button>
    </section>
  </div>
</ion-content>