ion-content{
  // --background: url(../../../assets/img_jyd/fondo resumen.svg) no-repeat center center / cover;
  --ion-background-color: #008abb;
}

.lista{
  // background: rgba(255, 255, 255, 0.5);  
  padding-left: 18%;
  padding-right: 18%;
  --ion-background-color: #008abb;
}

.radio{
  --color: white;
  --color-checked: yellow;
}