<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding-top: 5%;">
    <div style="padding-left: 7%;">
      <img src="assets/img_jyd/registro.png" height="80px" alt="">
    </div><br>
    <ion-title style="font-size: 130%; color: white;"><b>¿Qué desea registrar?</b></ion-title><br>
    <div class="lista">
      <ion-list>
        <ion-radio-group [(ngModel)]="model.estadoItem">
          <ion-item>
            <ion-label style="color: white;"><b>Nuevo</b></ion-label>
            <ion-radio class="radio" slot="start" value="1"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label style="color: white;"><b>Mal Estado</b></ion-label>
            <ion-radio class="radio" slot="start" value="2"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <ion-item style="--ion-background-color: #008abb;">
      <div style="border: 0px solid; padding-left: 17%;">
        <ion-label style="border: 0px solid; color: white;"><b>Ubicación</b></ion-label>
      </div>    
      <ion-grid style="border: 0px solid; padding-right: 12%;">
        <ion-row>
          <ion-col size="4" *ngIf="model.ubicacion">
            <ion-button color="light" size="small" shape="round">
              <ion-icon slot="icon-only" color="primary" name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="{{(model.ubicacion) ? 8 : 12}}">
            <ion-button color="light" size="small" shape="round" expand="block" (click)="loadModalMap()">
              <ion-icon slot="icon-only" color="primary" name="pin"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-item>
    
    <ion-item lines="" style="--ion-background-color: #008abb;">
      <div style="border: 0px solid; padding-left: 17%;">
        <ion-label style="color: white;  text-align: right;"><b>Fotografía</b></ion-label>
      </div>
      <ion-grid style="border: 0px solid; padding-right: 12%;">
        <ion-row>
          <!-- <ion-col size="4" class="ion-text-center" *ngIf="model.imagen">
            <ion-img [src]="model.imagen"></ion-img>
          </ion-col> -->
          <ion-col size="4" *ngIf="model.imagen">
            <ion-button color="light" size="small" shape="round">
              <ion-icon slot="icon-only" color="primary" name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="{{(model.imagen) ? 8 : 12}}" class="ion-text-end">
            <ion-button color="light" size="small" shape="round" expand="block" (click)="loadCamera()">
              <ion-icon slot="icon-only" color="primary" name="camera"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <div style="padding-left: 3%; padding-right: 3%;">
      <div style="text-align: left; padding-top: 3%;">
        <ion-label style="color: white;"><b>Descripción:</b></ion-label>
      </div><br>        
      <ion-item style="border-radius:  5px 5px 5px 5px; --ion-background-color: white;">
        <!-- <ion-label position="stacked">Descripción</ion-label> -->
        <ion-textarea [(ngModel)]="model.descripcion"></ion-textarea>
      </ion-item>
    </div><br>
    <section>        
      <ion-button (click)="save()" routerLink="/resumen" color="white" size="medium" style="background-color: white; color: #0A9D97; border-radius: 5px 5px 5px 5px;"><b>Continuar</b></ion-button>
    </section>
  </div>
</ion-content>