<ion-header>
  <ion-toolbar>
    <ion-title> Servicios del predio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let i of buttonServicios">
      <!--ion-icon slot="start" [name]="i.iconStart" color="light"></ion-icon-->
      <ion-label color="light">
        {{ i.nombreMenu }}
      </ion-label>
      <ion-toggle
        [disabled]="i.disabled"
        [checked]="i.checked"
        slot="end"
        [name]="i.nombreMenu"
        [(ngModel)]="i.toogleService"
        (click)="Toogle()"
      ></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-item lines="none" class="ion-padding-top">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-end">
          <ion-button
            class="ion-text-capitalize"
            color="light"
            size="default"
            shape="round"
            expand="block"
            (click)="Aceptar()"
          >
            <ion-label>{{ complete ? "Finalizar" : "Guardar" }}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button
            class="ion-text-capitalize"
            color="light"
            fill="outline"
            size="default"
            shape="round"
            expand="block"
            (click)="Cancelar()"
            [disabled]="loading"
          >
            <ion-label>Cancelar</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
