<ion-header>
    <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
        <ion-buttons slot="start">
            <ion-button routerLink="/home" routerDirection="forward">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Estado de las vías
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button disabled>
                <ion-icon slot="icon-only" name=""> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content color=primary>
    <div style="border: 0px solid; margin-top: 12%; text-align: -webkit-center; margin-top: 25%;">
        <ion-card routerLink="/slides" style="background-color: white; padding-top: 3%; height: 23vh; width: 75vw; border-radius: 50%;">
            <div style="padding-left: 12%; margin-left: -15%;">
                <img src="assets/img_jyd/boton para deligenciar nuevo formulario.svg" height="80px" alt="">
            </div>
            <div style="font-size: x-large;"><b>Registro estado vias</b></div>

        </ion-card>
        <br>
        <ion-card routerLink="/historico" style="background-color: white; padding-top: 3%; height: 23vh; width: 75vw; border-radius: 50%; margin-top: 15%;">
            <div style="padding-left: 12%; margin-left: -15%;">
                <img src="assets/LOGO VERDE.svg" height="80px" alt="">
            </div>
            <div style="font-size: x-large;"><b>Historico</b></div>

        </ion-card>
    </div>
</ion-content>