<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" routerDirection="forward">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Estado de las vías
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button disabled>
                <ion-icon slot="icon-only" name=""> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-slides pager="true" [options]="slidesOpts">
        <ion-slide color="primary">
            <img src="assets/vias/logoazul.svg" alt="TuMap Logo">
            <h1>Registra el estado de las vias</h1>
            <h2>EN CUALQUIER LUGAR</h2>
            <p>
                Ten un listado actualizado de como están las vías en cualquier lugar de Colombia.
            </p>
            <ion-icon name="fastforward"></ion-icon>
        </ion-slide>
        <ion-slide>
            <img src="assets/vias/formulario.svg" alt="Registro Logo">
            <h1>Registra el estado de las vias</h1>
            <h2>EN CUALQUIER LUGAR</h2>
            <p>
                Acá puedes registrar el estado de las vías, tomando la ubicación, junto con una foto.
            </p>
            <ion-button routerLink="/slides"> <b>Registro</b> </ion-button>
        </ion-slide>
        <ion-slide>
            <img src="assets/vias/historico.svg" alt="TuMap Logo">
            <h1>Observa el histórico</h1>
            <h2>DE CUALQUIER LUGAR</h2>
            <p>
                Obtén un listado del estado de las vías de cualquier lugar de Colombia.
            </p>
            <ion-button routerLink="/historicovias"> <b>Historico</b> </ion-button>
        </ion-slide>
    </ion-slides>

</ion-content>