<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/options"></ion-back-button>
        </ion-buttons>
        <ion-title>Calidad Hídrica</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <h4>Calidad Hídrica</h4> -->

    <div class="drop"><img src="./assets/coberturagua.png" routerLink="/hogaropt"></div>
    <h3>Hogar - Cobertura</h3>
    <div class="drop"><img src="./assets/nowater.jpeg" routerLink="/sincobopt"></div>
    <h3>Sin Cobertura</h3>
    <div class="drop"><img src="./assets/stream.png" routerLink="/exterioropt"></div>
    <h3>Exterior</h3>

</ion-content>

<ion-footer>
    <ion-toolbar color="primary" class="title">
    </ion-toolbar>
</ion-footer>