<ion-header>
  <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
    <ion-buttons slot="start">
      <ion-button routerLink="/list" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Categorias
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button disabled>
        <ion-icon slot="icon-only" name=""> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="border: 0px solid; margin-top: 50%;">
    <!-- <span *ngFor="let categoria of categorias"> -->
      <ion-card routerLink="/senalizacion" style="background-color: #0A9D97; padding-top: 3%; height: 100px;">
        <div style="padding-left: 12%;">
          <img src="assets/img_jyd/logo senalizacion.svg" height="80px" alt="">
        </div>        
      
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
      <br>
      <ion-card routerLink="/mobiliario" style="background-color: #0A9D97; padding-top: 4.3%; height: 100px;">
        <img src="assets/img_jyd/logo mobiliario urbano.svg" height="65px" alt="">
      
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    <!-- </span> -->
  </div>
</ion-content>
