<ion-header>
    <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
    <ion-buttons slot="start">
      <ion-button routerLink="/categorias" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mobiliario Urbano
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button disabled>
        <ion-icon slot="icon-only" name=""> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngFor="let item of items">  
    <ion-grid [routerLink]="['/registroitem/', item.pk_id_item, item.fk_categoria]">
      <ion-row style="border-top: 1px solid; border-color: gray;">
        <ion-col size="3">
          <div></div><br>
          <div style="padding-left: 12%;">
            <img src="{{item.imagen}}" height="80px" alt="">
          </div>          
        </ion-col>
        <ion-col size="9">
          <br><br>
          <div style="padding-left: 8%;">
            <ion-title style="padding: 0%; font-size: 100%;"><b>{{ item.nombre }}</b></ion-title>
            <ion-title style="padding: 0%; font-size: 100%;">{{ item.descripcion }}</ion-title>
          </div>                    
        </ion-col>
      </ion-row>
    </ion-grid>
  </span>
</ion-content>
