<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/opcionesvias" routerDirection="forward">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Estado de las vías
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button disabled>
                <ion-icon slot="icon-only" name=""> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="text-align: center; padding-top: 12%;">
        <img src="assets/img_jyd/logo registro.svg" height="80px" alt=""><br><br><br>
        <form>
            <ion-list style="padding-left: 10%; padding-right: 10%; padding-top: 4%;">
                <ion-item>
                    <ion-label><b>Dirección:</b>
                    </ion-label>
                    <ion-input style="text-align: right; margin-right: 10vw;" name="direccion" [(ngModel)]="model.direccion" required type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label><b>Detalle:</b></ion-label>
                    <ion-select (ionChange)="seleccion($event)">
                        <ion-select-option value="{{detalle.detalle}}" *ngFor="let detalle of estadoVias">{{detalle.detalle}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <div style="border: 0px solid; padding-left: 0%;">
                        <ion-label style="border: 0px solid;"> <b>Ubicación:</b></ion-label>
                    </div>
                    <ion-grid style="border: 0px solid; padding-right: 8%;">
                        <ion-row>
                            <ion-col size="4" *ngIf="model.ubicacion">
                                <ion-button color="tertiary" size="small" shape="round">
                                    <ion-icon slot="icon-only" color="secondary" name="checkmark"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="{{(model.ubicacion) ? 8 : 12}}">
                                <ion-button color="tertiary" size="small" shape="round" expand="block" (click)="loadModalMap()">
                                    <ion-icon slot="icon-only" color="secondary" name="pin"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>

                <ion-item lines="">
                    <div style="border: 0px solid; padding-left: 0%;">
                        <ion-label style="text-align: right;"><b>Fotografía:</b></ion-label>
                    </div>
                    <ion-grid style="border: 0px solid; padding-right: 8%;">
                        <ion-row>
                            <ion-col size="4" *ngIf="model.imagen">
                                <ion-button color="tertiary" size="small" shape="round">
                                    <ion-icon slot="icon-only" color="secondary" name="checkmark"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="{{(model.imagen) ? 8 : 12}}" class="ion-text-end">
                                <ion-button color="tertiary" size="small" shape="round" expand="block" (click)="loadCamera()">
                                    <ion-icon slot="icon-only" color="secondary" name="camera"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>

            <br>
        </form>
    </div>
</ion-content>
<ion-footer>
    <ion-button (click)="save()" routerLink="/resumenjf" size="medium"><b>Continuar</b></ion-button>

</ion-footer>