ion-header>ion-toolbar {
    --background: var(--ion-color-primary);
    color: var(--ion-color-tertiary);
}

ion-content {
    --background: var(--ion-color-primary);
    color: var(--ion-color-tertiary);
}

ion-content>div>img {
    margin: 10%;
}

ion-list {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-tertiary);
}

ion-list>ion-item {
    --background: var(--ion-color-primary);
    color: var(--ion-color-tertiary);
}

ion-select {
    padding: var(--padding-bottom);
}

ion-footer {
    background-color: var(--ion-color-primary);
    text-align-last: center;
}

ion-footer>ion-button {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-secondary);
    --border-radius: 3vw;
    margin: 2vh;
}