ion-content {
    --background: url(../../../assets/dbo_img/fondor.jpg) no-repeat center center / cover;
   color: white;
}
div {
    color: white;

}
ion-card-title {
    font-size: 15px;
}

.registrof {
    margin-top: 0px;
    margin-left: 50px;
    width: 250px;
    height: 150px;
}

//texto
ion-title {
    margin-top: 3px;
}

//preguntas
.pregunta1 {
    color: #ffffff;
    text-align: center;
    margin: 6px;
}

//botones
.centrado {
    text-align: center;
    margin-top: 15px;
}

.botpregunta {
    margin-top: 10px;
    padding: 3px 20px;
    color: white;
    background-color: #0A9D97;
    border-radius: 7px;
    font-size: 25px;
    border-color: #0A9D97;
    margin: 10px;
    height: 155px;
    width: 155PX;
}

.botguardar {
    margin-top: 0px;
    padding: 3px 10px;
    color: #0A9D97;
    background-color: white;
    border-radius: 7px;
    font-size: 25px;
    border-color: #0A9D97;
}

.centrado {
    height: 65px;
    text-align: center;
}

button:hover {
    background-color: rgb(129, 230, 226);
}

.volver1 {
    margin-left: 15px;
}

on-icon {
    size: 30px;
}

.packimagen {
    height: 176px;
    text-align: center
}

.text {
    text-align: center;
}

//respuestas con imagenes
img {
    height: 180px;
    width: 180px,
}

.organizaimg {
    height: 200px;
}

ion-slide {
    animation: none;
}

ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

.category-blocks {
    margin-bottom: 4px;
}

.category-banner {
    border-left: 8px solid var(--ion-color-secundary);
    background: var(--ion-color-secundary);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}