<ion-content  >

        <img class="registrof" padding src="assets/logo registro.svg" alt="">
       
       
      
      <ion-toolbar class="text" color="none">
          <ion-title color="tertiary">Estado de el suelo</ion-title>
              <p  color="tertiary" class="pregunta1">¿Hay precencia de cobertura vegetal en la zona?</p>
            </ion-toolbar>
            
                  <ion-toolbar class="packimagen">   
                          
                                     
                          <img class="respueta" padding src="assets/Imagen11.jpg" alt="">
                          <img class="respueta" padding src="assets/Imagen21.jpg" alt="">
                         
                          
                        
                        </ion-toolbar>
    
                   
                      <ion-toolbar class="text" color="none">
                          <ion-title color="tertiary">Elegir Imagen</ion-title><br>
                        </ion-toolbar>  
                          
              <ion-toolbar color="none" padding class="centrado">         
                <button class="botguardar" color="primary" text-color="secondary" name="hola">Siguiente</button>       
               </ion-toolbar > 
      
               <ion-toolbar  class="atrasins" color="none">
                  <ion-buttons slot="start">
                      <ion-back-button color="tertiary"  [defaultHref]="['/']"></ion-back-button>
                  </ion-buttons>
                  <ion-title color="tertiary" class="ion-title">Atras</ion-title>
              </ion-toolbar>
          
        
      </ion-content>
      
      
    