<ion-header>
  <ion-toolbar>
      <ion-title>
          
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-app>
      <ion-header>
        <ion-toolbar>
          <ion-title>List</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content fullscreen>
        <ion-list>
          <ion-list-header>
            <h1><b></b></h1><br><br><br><br><br><br>
          </ion-list-header>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/cv-salud/hospital.jpg">
            </ion-avatar>
            <ion-label>
              <h2><b>Usuario 1</b></h2>
              <h3>Hospital Nueva Marsella</h3>
              <p>15 days ago</p>
            </ion-label>
              <ion-select interface="popover">
                <ion-select-option value="nes">Aprobado</ion-select-option>
                <ion-select-option value="n64">Pendiente</ion-select-option>
                <ion-select-option value="ps">Rechazado</ion-select-option>
              </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/cv-salud/eps.png">
            </ion-avatar>
            <ion-label>
              <h2><b>Usuario 2</b></h2>
              <h3>EPS Hoden</h3>
              <p>8 days ago</p>
            </ion-label>
            <ion-select interface="popover">
                  <ion-select-option value="nes">Aprobado</ion-select-option>
                  <ion-select-option value="n64">Pendiente</ion-select-option>
                  <ion-select-option value="ps">Rechazado</ion-select-option>
                </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/cv-salud/hospital.jpg">
            </ion-avatar>
            <ion-label>
              <h2><b>Usuario 3</b></h2>
              <h3>Hospital Las Mercedes</h3>
              <p>2 days ago</p>
            </ion-label>
            <ion-select interface="popover">
                  <ion-select-option value="nes">Aprobado</ion-select-option>
                  <ion-select-option value="n64">Pendiente</ion-select-option>
                  <ion-select-option value="ps">Rechazado</ion-select-option>
                </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/cv-salud/eps.png">
            </ion-avatar>
            <ion-label>
              <h2><b>Usuario 4</b></h2>
              <h3>EPS Famisanar Choachi</h3>
              <p>5 hours ago</p>
            </ion-label>
            <ion-select interface="popover">
                  <ion-select-option value="nes">Aprobado</ion-select-option>
                  <ion-select-option value="n64">Pendiente</ion-select-option>
                  <ion-select-option value="ps">Rechazado</ion-select-option>
                </ion-select>
          </ion-item>
        </ion-list><br>
        <section>
          <ion-card routerLink="/tab6">
            <ion-button>ENVIAR</ion-button>
          </ion-card>
        </section>
      </ion-content>
</ion-app>
